<div class="tm-sidebar-left uk-visible@m">
  <h3 data-svelte-h="svelte-5fsqhw">Admin</h3>
  <ul class="uk-nav uk-nav-default tm-nav">
    <li class="uk-nav-header">User</li>
    <li><a href="/admin/dashboard">New User</a></li>
    <li><a href="/admin/dashboard">User List</a></li>
  </ul>
  <ul class="uk-nav uk-nav-default tm-nav uk-margin-top">
    <li class="uk-nav-header">Book</li>
    <li><a href="/admin/books/new">New Book</a></li>
    <li><a href="/admin/books/">Book List</a></li>
  </ul>
</div>
<div id="tm-main" class="tm-main uk-section uk-section-default">
  <div class="uk-container uk-container-large uk-position-relative">
    <h1>Admin Dashboard</h1>
    <p class="uk-text-lead">
      Admin Dashboard Content
    </p>
  </div>
</div>
