<div class="uk-container uk-container-expand uk-margin-large-top uk-margin-large-bottom">
    <h1>Book List</h1>
    <div>
        <div class="uk-child-width-1-4@m" uk-grid>
            <div *ngFor="let book of bookList">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <a routerLink="/books/{{book.id}}" routerLinkActive="active"><img src="./assets/images/books/{{book.image}}"></a>
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title"><a routerLink="/books/{{book.id}}" routerLinkActive="active">{{ book.name }}</a></h3>
                        <p class="uk-text-large">Author: {{ book.author }}</p>
                        <div class="uk-child-width-1-2" uk-grid>
                            <p>{{ book.price | currency:'VND':'symbol':'1.0-0' }}</p>
                            <p class="uk-text-right"><span class="uk-badge">{{ book.quantity }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>